<%= render 'shared/page_title', title: "Create a new Topic" %>

<%= render 'shared/errors', obj: @topic %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @topic do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit 'Create Topic', class: 'submit-btn' %>
      <% end %>
  </div>
</div>
