<%= render 'shared/page_title', title: "" + @topic.name %>


<%= will_paginate @posts %>

<% @topic.posts.each do |post| %>
<div class="row">
  <div class="col-lg-8">
  <h4><%= link_to post.title, posts_path(post) %></h4>
  <p><%= post.description %></p>
  <p>Topic: <%= render post.topics %></p>
  </div>
  <div class="col-md-4">
    <%= image_tag(post.picture.url, class: "topic-image", style: "width: 39%;") if post.picture?  %>
  </div>

</div>
<hr/>
<% end %>

<%= will_paginate @posts %>
