<%= render 'shared/page_title', title: "" + @topic.name %>


<%= will_paginate @posts %>

<% @topic.posts.each do |post| %>
<div class="row">
  <div class="">
    <div class="col-lg-3">
    <a href="/posts/<%= post.id%>">
    <%= image_tag(post.picture.url, class: "topic-image") if post.picture?  %>
    </a>
    </div>
    <div class="col-lg-9">
      <h2 class="topic-title"><%= link_to post.title, post_path(post) %></h2>
      <p><%= post.description %></p>
      <p>Topic: <%= render post.topics %></p>
    </div>

  </div>
</div>
<hr/>
<% end %>

<%= will_paginate @posts %>
