<%= render 'shared/errors', obj: @user %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @user do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit(@user.new_record? ? 'Register' : 'Edit Profile', class: "login-btn") %>
      <% end %>
  </div>
</div>
