<!-- <div align="center">
  <h3>Send A message to Us</h3>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div> -->


<div class="chicago-pic">
  <img src="./images/chicago.jpg" alt="" />
  <h1>Location: Chicago, IL</h1>
</div>


<div class="contact-picture">
  <h1>Email: lalbertobravo@icloud.com</h1>
  <br>
  <a href="https://github.com/luisbravo258" target="_blank"><img src="./images/github.png" alt="" /></a>
  <a href="https://www.instagram.com/acid_albert/" target="_blank"><img src="./images/instagram.jpeg" alt="" /></a>
  <a href="https://twitter.com/cyber_albert" target="_blank"><img src="./images/twitter.png" alt="" /></a>
</div>


<div class="col-md-12">

</div>
