<%= render 'shared/page_title', title: "C A T O L O G" %>

<!-- <ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Posts", posts_path %>
  </li>
  <li>
    <%= link_to "Users", users_path %>
  </li>
</ul> -->


<div class="topics-choose">
  <a href="/topics/1"><h3>Work</h3></a>
  <a href="/topics/2"><h3>Educational</h3></a>
  <a href="/topics/3"><h3>Insight</h3></a>
  <hr>
</div>

<% @posts.each do |post| %>
<div class="col-md-6 grid" id="postimg">
    <a href="/posts/<%= post.id%>">
        <span class="text"><%= post.title %></span>
        <%= image_tag(post.picture.url, class: "grid-item", id: "img") %>
        </a>
  </div>
<% end %>
<%= will_paginate @posts %>
