<%= render 'shared/page_title', title: "C A T O L O G" %>

<!-- <ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Posts", posts_path %>
  </li>
  <li>
    <%= link_to "Users", users_path %>
  </li>
</ul> -->

<%= will_paginate %>


<% @posts.each do |post| %>
<div class="col-md-4">
    <a href="/posts/<%= post.id%>">
        <span class="text"><%= post.title %></span>
        <%= image_tag(post.picture.url, width:"350", height:"350", class: "pictures-show") %>
        </a>
  </div>
<% end %>
