<%= render 'shared/page_title', title: "C A T O L O G"  %>

<!-- <ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Posts", posts_path %>
  </li>
  <li>
    <%= link_to "Users", users_path %>
  </li>
</ul> -->


<div class="topics-choose">
  <a href="/topics/1"><h3>WORK</h3></a>
  <a href="/topics/2"><h3>EDUCATIONAL</h3></a>
  <a href="/topics/3"><h3>INSIGHT</h3></a>
  <hr>
</div>

<br>
<br>
<br>

<% @posts.each do |post| %>
<div class="" id="">
    <a href="/posts/<%= post.id%>" class="item" id="Masonry">
        <!-- <span class=""><%= post.title %></span> -->
        <%= image_tag(post.picture.url, class: "", id: "") %>
        </a>
  </div>
<% end %>
<%= will_paginate @posts %>
<script src='masonry.pkgd.min.js'></script>
