<%= render 'shared/page_title', title: @post.title %>

  <div class="col-md-12">

      <%= link_to "Edit", edit_post_path(@post), class: "btn btn-success pull-right" %>


      <%= link_to "[Delete Recipe]", @post, method: :delete, data: { confirm: "Are you sure?" } %>

    <h3><%= @post.title %></h3>
    <div class="show_picture">
      <%= image_tag(@post.picture.url, class: "img-show") if @post.picture? %>
      <p class="well">
        <%= @post.description %>
        <h5>Brought to you by: <%= @post.user.username %></h5>
      </p>
    </div>
  </div>
</div>
