<%= render 'shared/page_title', title: @post.title %>


  <div class="col-md-6">
    <div class="show_picture">
      <%= image_tag(@post.picture.url, class: "img-show") if @post.picture? %>

    </div>
  </div>

  <div class="col-md-6">
    <% if @post.topics.any? %>
  <p>Styles: <%= render @post.topics %> </p>
  <% end %>
    <p class="description-text">
      Description:
      <%= @post.description %>

      <h5>Brought to you by: <%= @post.user.username %></h5>
    </p>
  </div>
</div>

<div class="col-md-12">
  <div class="editanddelete">
    <span class='quite'><small> created: <%= time_ago_in_words(@post.created_at) %> ago,</small></span>
     <span class='quite'><small>updated: <%= time_ago_in_words(@post.updated_at) %> ago</small></span>
    <% if logged_in? %>
  <%= link_to "Edit", edit_post_path(@post), class: "btn btn-warning" %>
  <%= link_to "[Delete Posts]", @post, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
  <% end %>
  </div>
</div>
