<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logo">
          <a href="#img"><img src="../logo.jpg" alt="" /></a>
        <%= link_to "Log Out", '/logout', class: "login-btn" %>
        <%= link_to "Sign up now!", register_path, class: "login-btn" %>
        <%= link_to "Login In", '/login', class: "login-btn" %>
        <%= link_to "Create New Post", '/posts/new', class: "login-btn" %>
        </div>
              <%= link_to "HOME", '/home', class: "navbar" %>
              <%= link_to "ABOUT US", '', class: "navbar" %>
              <%= link_to "POSTS", '/posts', class: "navbar" %>
              <%= link_to "BLOGGERS", '/users', class: "navbar" %>
              <%= link_to "CONTACT US", '', class: "navbar" %>
              <ul class="nav_ul_item">
              <li class="dropdown">
                <%= link_to '#', class: "btn btn-default dropdown-toggle", 'data-toggle' => "dropdown" do %>
                  Topics <b class="caret"></b>
                  <% end %>
                  <ul class="dropdown-menu">
                    <% Topic.all.each do |topic| %>
                      <li><%= link_to topic.name, topic_path(topic) %></li>
                    <% end %>
                    <% if logged_in? %>
                    <li class="divider"></li>
                    <li>
                      <%= link_to(new_topic_path) do %>
                      New Topic
                    <% end %>
                    </li>
                    <% end %>
                  </ul>
              </li>
            </ul>
              <hr>
      </div>
    </div>
  </div>

</header>
