<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
            <%= link_to "HOME", '', class: "navbar" %>
            <%= link_to "ABOUT US", '', class: "navbar" %>
            <%= link_to "BLOGGERS", '', class: "navbar" %>
            <%= link_to "TOPICS", '', class: "navbar" %>
            <%= link_to "CONTACT US", '', class: "navbar" %>
      </div>
    </div>
  </div>


    <div class="row">
      <div class="col-md-12">
        <div class="logo">
          <a href="#img"><img src="../logo.jpg" alt="" /></a>
        </div>
      </div>
    </div>
</header>
